* {
    font-family: sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body.no-scroll {
    overflow: hidden; /* Désactive le scroll */
}

.gauche, .droite {
    width: 45%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.droite a {
    font-size: 64px;
    text-transform: capitalize;
}

.droite a:hover {
    font-style: italic;

}

.droite {
    position: relative;
}

.droite li {
    padding: 16px 8px;
    border-top: 1px solid #000;
}

main {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    height: 100vh;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.overlay.visible {
    opacity: 1;
    pointer-events: auto;
}

.vignette {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    overflow-y: auto;
    border-radius: 50px;
    scrollbar-width: none;
    overflow-y: scroll;
}

.vignette p {
    padding-top: 300px;
}

.vignette::-webkit-scrollbar {
    display: none;
}

.vignette.visible {
    opacity: 1;
    pointer-events: auto;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    z-index: 1002;
}

